* {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgb(255, 255, 255);
}

#search-bar {
    max-width: 300px;
    margin-top: 50px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

#five-day {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px;
}

.card {
    margin: 10px;
}

.display-6 {
    margin-top: 25px;
    margin-bottom: 25px;
}