* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-image: url("../img/26302.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#search-bar {
    max-width: 300px;
    margin-top: 50px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

#five-day {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px;
}

.card {
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.display-6 {
    margin-top: 25px;
    margin-bottom: 25px;
}

#search-history {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#search-history button {
    max-width: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(207, 247, 255);
    color: rgb(46, 149, 172);
    font-weight: bold;
}